*, :after, :before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .3);
  background-color: rgba(0, 0, 0, 0.1);
}

/*去除版权提示*/
.fr-wrapper > div[style*='z-index: 9999'] {
  position: absolute;
  top: -10000px;
  opacity: 0;
  display: none;
}

:focus:not([tabindex^='-']) {
  outline: none;
}

$base-bg-color: #f7f8f8;
$base-color: #001330;
$mr-top: 20px;

html, body {
  margin: 0;
  padding: 0;
  color: $base-color;
  background-color: $base-bg-color;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, sans-serif;
}

/*froala 样式覆盖*/
.fr-second-toolbar {
  display: none;
}

.fr-box.fr-basic .fr-wrapper {
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
}

.pg-edit-container {
  display: flex;
  height: calc(100vh - 70px);
  margin-top: $mr-top;
  overflow-y: auto;
  justify-content: space-between;

  .pg-html-panel-params {
    @include navStyle;
  }

  .pg-froala-container {
    flex: 1;
    //width: 818px;
  }

  .pg-parameter-container {
    @include navStyle;
    box-sizing: border-box;
    padding: 10px;
  }
}

.pg-toolbar-container {
  .fr-toolbar.fr-top {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 0;
    text-align: center;
    box-shadow: 0 2px 8px #00000026;
    background-color: transparent;
  }
}

/*parameter-样式*/
.parameter-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 3px;
  flex-direction: row;

  .param-item {
    width: 25%;
    height: 54px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    color: #4c596e;
    cursor: pointer;
    user-select: none;
    line-height: 28px;

    &:hover {
      background: #e5e7ea;
    }
  }
}

.pane-params-container {
  width: 98%;

  &[class*=uk-list] > ::before {
    width: 0 !important;
  }

  .panel-param-item {
    position: relative;
    padding: 7px 8px;
    margin-top: 16px;
    color: #7f8997;
    background-color: #f2f3f4;
    border: 1px dashed #c1c6cd;
    border-radius: 4px;
    transition: all .2s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.is-active {
      border-color: #2489f2;
    }

    &:hover {
      cursor: pointer;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
      transition: all .2s ease-in;

      .pane-params-close {
        opacity: 1;
      }
    }

    .pane-params-name {
      text-align: left;
      flex: 1;
      word-break: break-all;
    }

    .pane-params-close {
      color: #c1c6cd;
      position: absolute;
      top: -9px;
      right: -9px;
      width: 18px;
      height: 18x;
      font-weight: bold;
      opacity: 0;

      &:hover {
        color: #ed521f;
      }
    }

    .required {
      &:before {
        color: #f0a128;
        content: "*";
        padding-right: 4px;
      }
    }
  }
}


// 隐藏版权提示信息
.fr-wrapper > div[style*='z-index:9999;'],
div[style*='z-index: 9999;'] {
  display: none;
}

a[href='https://www.froala.com/wysiwyg-editor?k=u'] {
  font-size: 0px !important;
  padding: 0px !important;
  height: 0px !important;
  display: none !important;
}
